@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes barre {
  0% {
    background-position: 0%; /* La barre commence hors du texte */
  }
  100% {
    background-position: -200%; /* La barre traverse le texte */
  }
}

.animate-barre {
  background-size: 200% 100%; /* Permet à la barre d'avoir de l'espace pour le mouvement */
  animation: barre 5s linear infinite; /* 3s pour la durée, peut être ajusté */
}

.test{
  box-shadow: inset 0px 0px 24px -4px rgba(0,0,0,0.75);
}

.test2{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}